<h2>Musicians:</h2>

<div class="ui category search">
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Search instruments...">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
<%= render 'by_instrument'%>

<%= button_to "Search by "%>
