<h2> Welcome back <%= @user.name%> </h2>

<%= link_to "Edit your profile", edit_user_path(@user)%><br><br>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>