@import "semantic-ui";
@import "semantic-ui/collections/menu";

body {
  background-color: rgb(182, 182, 182);
  margin-top: 20px;
  // margin-left: auto;
  // margin-right: auto;
}

.body-content {
  height: 550px;
}
